.layout {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 32px;
  height: 64px;
  // line-height: 64px;
  font-size: 15px;
  background-color: var(--nc-bg-color-1);
  border-bottom: 1px solid var(--nc-border-color-0);

  .logo {
    background-image: url(./imgs/logo.png);
    background-repeat: no-repeat;
    background-size: 65px 65px;
    padding-left: 65px;
    font-size: 20px;
    font-weight: 600;
    line-height: 64px;
    cursor: pointer;
    color: var(--nc-fore-color-0);
    white-space: nowrap;
  }
}

.nav {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: center;

  .item {
    padding: 0 5px;
    line-height: 36px;
    cursor: pointer;
    color: var(--nc-fore-color-2);
    transition:
      background-color 0.2s,
      color 0.2s;

    &:hover {
      color: var(--nc-fore-color-0);
      background: var(--nc-bg-color-3);
    }

    &.active {
      color: var(--nc-primary-light-0);
      border-bottom: 1px solid var(--nc-primary-light-0);
    }
  }
}

.theme-trigger {
  cursor: pointer;
  color: var(--nc-fore-color-2);
  white-space: nowrap;
  &:hover {
    color: var(--nc-fore-color-0);
  }
}

.bottom {
  width: 100%;
  margin: 0 auto;
  line-height: 60px;
  text-align: center;
  border-top: 1px solid var(--nc-border-color-0);
}

.center {
  flex-direction: column;
  padding: 10px;
  display: flex;
  flex: 1;
  overflow: auto;
  background: var(--nc-bg-color-0);
}
